<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ustcinfo.shop.dao.UserDao">
	<select id="selectUser" parameterType="java.lang.String"
		resultType="com.ustcinfo.shop.entity.User">
		SELECT * FROM login_msg where username=#{username}

	</select>

	<select id="checkUser" parameterType="java.lang.String"
		resultType="com.ustcinfo.shop.entity.User">
		SELECT * FROM login_msg where username=#{username} and password=#{password}

	</select>

	<insert id="saveUser" parameterType="com.ustcinfo.shop.entity.User">
		insert into login_msg (username,password,email)
		values(#{username},#{password},#{email})

	</insert>



</mapper>







